@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}

.main__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.leaflet-container {
  width: 100%;
  flex-grow: 1;
  outline: none;
  z-index: 0;
}

.xlg {
  height: 17rem;
}

@media (min-width: 1920px) {
  .xlg {
    height: 20rem;
  }
}

.info__container {
  @apply space-y-2 sm:border-l-2 sm:pl-2 lg:pl-8;
}

.info__head {
  @apply font-semibold text-[0.7rem] sm:text-xs text-gray-400 tracking-wider;
}

.info {
  @apply font-medium text-lg sm:text-xl lg:text-[1.4rem];
}

.info__card {
  @apply flex flex-col text-center justify-center space-y-4 sm:space-y-0 sm:text-start sm:flex-row absolute top-[20%] sm:top-[20%] md:top-[25%] z-50 left-[8%] md:left-[10%] lg:left-[15%] sm:justify-around bg-white w-[85%] md:w-[82%] lg:w-[70%] h-[19rem] sm:h-40 p-8 rounded-xl shadow-2xl;
}
